.App {
  text-align: center;
  height: 100vh;
  padding-top: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://th.bing.com/th/id/R.ecec7b14a8b062eec50a8a244707322a?rik=jA0xhMN95g7H1A&pid=ImgRaw&r=0');
}

.search {
  margin-bottom: 5vh;
}

input {
  width: 30%;
  border-radius: 20px 0 0 20px;
  border: none;
  padding-left: 35px;
}

button {
  font-size: 30px !important;
  border-radius: 0 20px 20px 0 !important;
}

.header {
  font-weight: bold;
  font-size: 50px;
  padding: 0 0 15px 0;
}
